<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <h1>
        Start writing your blog.
    </h1>
    <form action="/post/create/display" method="post">
        <input type="text"  placeholder="tittle" name="postTittle">
        <textarea placeholder="content" name="postData"></textarea>
        <input type="submit" value="submit">
    </form>
</body>
</html>

<%# action is used to display or show ke bhai jab yaha se we click submit we move on to a new page and this page will have a route which is under the controller%>