<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEED</title>
    <link rel="stylesheet" href="/stylesheets/styleFeed.css">
</head>
<body>
    <h1>
        Welcome to the FEED.
    </h1>
    <%# 
    This sould be the first page that opens up once we are logged 
    in this page will have the card structure where we can 
    view each and every post made by other authors on the 
    platform our target here is to send blogs tittle here that is 
    created also with that we will paste a link for the 
    viewing of this document , furthur it can be linked to 
    a full view page where edit access will be given exclusively to 
    the author. 
    This one is like the first page that opens up in instagram 
    here we will display each post that is there 
    jitni bhi posts upload hui hai utni dikhaege and with 
    each post we can write a link to the author plus jab 
    individual page open hoga and if we match the author 
    is seeing toh hi edit button display hoga.
    %>
    
    <a class="profile" href="/profile">Profile</a>

    <div class="searchBar">
        <form action="/feed/filtered" method="post">
            <div class="bar">
                <input type="text" placeholder="search" name="keyword">
                <button type="submit" value="search" ></button>
            </div>
        </form>
    </div>

    <% if( posts && posts.length >0 ) { %>
        <% posts.forEach(post =>{ %>
        <div class="post">
            <div class="tittle">
                <p>
                    <%= post.postTittle %>
                </p>
            </div>
            <div class="text">
                <p>
                    <%= post.postData.substring(0, 100)  %>
                </p>
            </div>
             <p class="author">By: <%= post.user.name%></p>
            <a class="extend" href="/read/<%= post._id%>">Read More</a>
        </div>
        <% }) %>
        <% } else { %>
            <p>
                no posts yet!
            </p>
        <% } %>
</body>
</html>
<%# recieving data from the browser , server %> 
<%# sending data over to the server to be ultimately saved in the database , that is when we will have to use up a post request %>
<%# this is the difference between a post and a get request %>